<!-- START CONTAINER FLUID -->
<div class="container-fluid">
  <!-- START ROW -->
  <div class="row">
    <div class="col">

      <!-- START JUMBOTRON -->
      <div class="jumbotron">
        <pg-container extraHorizontalClass="p-l-0 p-r-0"
          extraClass="sm-p-l-0 sm-p-r-0">
          <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
            <div class="inner"
              pg-parallax>
              <div class="row">
                <div class="col-xl-7 col-lg-6 ">
                  <h3>Referral Market</h3>
                </div>
                <div class="col-xl-5 col-lg-6 ">
                </div>
              </div>
            </div>
          </div>
        </pg-container>
      </div>
      <!-- END JUMBOTRON -->

      <div class="card-body">
        <div>
          <ngx-datatable #table
            class="material"
            [columns]="columns"
            [columnMode]="'force'"
            [scrollbarH]="scrollBarHorizontal"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='rows'>
            <div *ngFor="let column of columns">
              <ngx-datatable-column *ngIf="column.name !== 'Referrer' && column.name !== 'Category' && column.name !== 'Award Method' && column.name !== 'Action'"
            
                [name]="column.name">
                <ng-template let-value="value"
                  ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="column.name === 'Referrer'"
                [name]="column.name">
                <ng-template let-value="value"
                  ngx-datatable-cell-template>
                  <strong> {{value}} </strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="column.name === 'Category'"
                [cellClass]="getCategoryCellClass"
                [name]="column.name">
                <ng-template let-value="value"
                  ngx-datatable-cell-template>
                  <strong>{{value}}</strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="column.name === 'Award Method'"
                [cellClass]="getAwardMethodCellClass"
                [name]="column.name">
                <ng-template let-value="value"
                  ngx-datatable-cell-template>
                  <strong>{{value}}</strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="column.name === 'Action'"
                cellClass="action-cell"
                [name]="column.name">
                <ng-template let-value="value"
                  ngx-datatable-cell-template>
                  <button md-button>View</button>
                </ng-template>
              </ngx-datatable-column>
            </div>
            <ng-template ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset">
              Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
            </ng-template>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  <!-- END ROW -->
</div>
<!-- END CONTAINER FLUID -->